* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

#navbar {
    background-color: black;
    padding: 13px 14px;
}
#logo{
    display: flex;
    align-items: center;
    color: white;
    margin: 0px 2px;
}
#logo img{
    height: 40px;
    filter: invert(1);
}

#navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar li {
    list-style: none;
    padding: 7px 11px;
}

#navbar li a {
    text-decoration: none;
    padding: 13px 30px;
    color: white;
}
#navbar li a:hover{
    color: grey;
}

#introSection {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    /* z-index: -1;
    opacity: 0.2; */
    height: 500px;
    background-color: red;
    background: center/cover no-repeat url("/static/bg2.jpg");
    color: white;
    font-size: 70px;
    padding: 100px 700px 0px 0px;
    
}
#missionSection {
    height: 300px;
   
}
#missionSection h2{
    text-align: center;
    font-size: 12px;
}
.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 22px ;
    height: 209px;
}
.card h3{
    text-align: center;
    margin: 12px;
}
.card-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-img{
    height: 131px;
    padding: 0 14px;
    margin: 5px 9px;
}
.card-img img{
    height: inherit;
}
.card-content{
    padding: 10px;
}
.card-content p{
    font-size: 20px;
}

#sponsersSection {
    height: 300px;
    background-color: rgb(251, 192, 192);
}
#sponsersSection h2{
text-align: center;
padding-top: 12px;
}
#sponsers img{
    height: 200px;
    padding: 30px;
    margin: 60px 80px;
   
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 15px;
}